<div class="jumbotron text-center footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-6 col-sm-3 left">
      </div>
      <div class="hidden-xs col-sm-3 right">
        <p><a href="/article">All Articles</a></p>
        <p><a href="/category/lifestyle">Life style</a></p>
        <p><a href="/category/design">Design</a></p>
        <p><a href="/category/Society">Society</a></p>
        <p><a href="/partner">All Partners</a></p>
        <p><a href="/product">Shop</a></p>
        <p><a href="/contact">Contact</a></p>
      </div>
    </div>
  </div>
</div>
