html {
  position: relative;
  min-height: 100%;
	font-size: 100%;
}
body{
	font-family: 'Neuton', serif;
	font-size: 100%;
	background-color: #fafafb !important;
}
h1 {
	font-family: 'Ovo', serif;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.vertical-center {
  position: relative;
  top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.footer {
	background: #f3fdff url('//crosscent.s3.amazonaws.com/footer.png');
	height: 300px;
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: bottom left;
	margin-bottom: 0;
}
.footer p {
	margin: 0;
	font-size:0.8em;
}
.footer .left .row {
	margin-bottom: 1em;
}
.footer .left {
	text-align: left;
}
.footer .right {
	text-align: right;
}
.footer .right a {
	color: #000;
}
.footer .right a:hover {
	text-decoration: none;
	color: #FF5252;
}
@media screen and (min-width:0px) and (max-width:740px) {
	.footer {
		background-position: top right;
		height: 150px;
	}
	.footer .left {
		text-align: center;
	}
}
