
.navbar {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
}

.min div {
	display: none;
}
.brand-name {
	text-align: center;
	padding-top: 0.2em;
}
.brand-name a {
	color: black;
	font-family: 'Playfair Display', serif;
  letter-spacing: -0.05em;
	font-size: 2.7em;
	text-decoration: none;
}
.brand-name:hover{
	text-decoration: none;
}

.navbar-nav > li > a {
	color: #000000;
	padding: 1em 2em 1em 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
  font-size: 0.75em;
}

.navbar-nav .active a	 {
	color: #FF5252;
}

.navbar .border{
	border-top: 1px #DCDCDC solid;
	border-bottom: 1px #DCDCDC solid;
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: #FF5252;
	background-color: #FFF;
}

.navbar-toggle {
	border: 1px solid #000000;
	color: black;
}
.navbar-toggle .icon-bar{
	color: black;
}

@media screen and (min-width:0px) and (max-width:740px) {
	.brand-name {
		margin:auto;
	}
	.navbar-nav > li > a {
		padding: 1em 0 1em 0;
	}
	.brand-name {
		text-align: left;
		padding-top: 0.9em;
	}
	.brand-name a {
		color: black;
		font-family: 'Playfair Display', serif;
	  letter-spacing: -0.05em;
		font-size: 2em;
		text-decoration: none;
	}
}
@media (max-width: 740px)  {
	.min div {
		display: inherit;
	}
}

@media (min-width: 740px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar {
    text-align: center;
  }
}
