.about .card {
  width: 300px;
  margin: auto;
  display: block;
  padding: 2em 0 2em 0;
}
.about h1 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
}
.about .col-sm-8 .row {
  padding-bottom: 2em;
}
.about p {
  font-size: 1em;
  margin-bottom: 1em;
}
