.about .card {
  width: 300px;
  margin: auto;
  display: block;
  padding: 2em 0 2em 0;
}
.about h1 {
  font-size: 1.2em;
  text-align: center;
}
.about p {
  font-size: 0.8em;
  margin-bottom: 1em;
}
