.articlesEdit .title {
  font-size: 40px;
  font-weight: 700;
  height: 70px;
  background: none;
  border: none;
  resize: none;
  box-shadow: none;
}
.articlesEdit .content {
  font-size: 18px;
  height: 200px;
}

/*article-list css*/
.articles-list .header {
  text-align: center;
}
.articles-list .article {
  height: 33em;
  margin-bottom: 2em;
}
.articles-list .article .wrapper {
  margin: 5px;
  border: 1px solid gray;
  height: 100%
}
.articles-list .article .image {
  height: 12em;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.articles-list .article .inner {
  padding: 1em;
  position: relative;
  height: 20em;
}
.articles-list .article .inner h1 {
  line-height: 0.6em;
}
.articles-list .article .inner .title {
  color: black;
  font-weight: 700;
  font-size: 0.6em;
}
.articles-list .article .inner .readmore {
  position: absolute;
  bottom: 0;
  color: black;
  font-size: 1em;
}
