
/*article-view css*/
.articles-view {
  padding-bottom: 2em;
}

.articles-view .container-fluid {
  padding: 0;
}

.articles-view .wrapper {
  display: inline-block;
  position:relative;
}
.articles-view .wrapper p {
  width: 100%;
  white-space: normal;
  color: white;
  font-size: 0.8em;
}
.articles-view .wrapper .overlay{
  position:absolute;
  left:0;
  bottom:0;
  width: 100%;
  display: inline-block;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 600;
  padding: 0.5em;
}
.articles-view .wrapper .header {
  height: 350px;
  width: auto;
  border-image-width: 0;
}
.articles-view .container-fluid {
  padding: 0;
}
.articles-view .horizontalScroll {
	width: 100%; /* arbitary for demo only */
  height: 350px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.articles-view .internal {
	display: inline;
}

.articles-view .header {
  height: 350px;
  width: auto;
  border-image-width: 0;
}
.articles-view .left {
  padding-top: 1.5em;
}
.articles-view .left .border {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.articles-view .left p{
  margin-bottom: 0;
}
.articles-view .left .category {
  color: #c2a878;
  font-weight: 700;
}
.articles-view .left .bold {
  color: #999999;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.articles-view .left .excerpt {
  color: #999999;
  font-size: 0.8em;
}
.articles-view .social-media .row {
  padding-bottom: 0.5em;
}
.articles-view .social-media .bold {
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
}
.articles-view .social-media a {
  color: #999999;
}
.articles-view .social-media ul {
  padding: 0;
  list-style-type: none;
}
.articles-view .article-icon {
  height: 50px;
}
.articles-view .sm-icon {
  height: 25px;
}
.articles-view .sm-link {
  color: #999999;
  font-size: 0.8em;
  text-transform: uppercase;
}
@media screen and (min-width:0px) and (max-width:740px) {
  h1{
    font-size: 1.5em;
  }
}

.articles-view .article-content {
  padding-top:2em;
}
.articles-view .article-content p{
  padding-bottom: 0.3em;
  font-size: 1em;
}
.articles-view .article-content p b {
  font-size:1.1em;
}
