<section data-ng-controller="aboutController">
	<div class="container about">
		<div class="row">
			<img class="responsive card" src="//crosscent.s3.amazonaws.com/businesscard.png">
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h1>Cultural losses due to globalization</h1>
				<p>SenseForage started out in 2014 as a project intended to preserve the unique cultures around the world from globalization. With emerging technologies, the distance between countries has drastically decreased, and this has led to losses of many important aspects of cultures around the world. Traditional industries are no longer able to compete in the their respective markets because everything has become price-driven, instead of quality-driven. Sacrifices were made in order to stay competitive, and many traditions have been lost in the process.</p>
				<h1>The smarter you get, the more is preserved</h1>
				<p>Each culture takes hundreds of years to develop, and culture is what makes each region different and special. If everything were the same, the whole world would be bland, and nothing will continue to evolve. SenseForage’s goal is to promote the hidden knowledge in each culture, and help everyone achieve a better understanding of the tiny things that make each country different. Through understanding the thought-processes and the efforts that makes something unique, not only are you brooding your knowledge, but you are also helping the world preserve its unique cultures.</p>
			</div>
		</div>
	</div>
</section>
