<section data-ng-controller="CategoriesCreateController as categoriesCreateCtrl">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <form data-ng-submit="categoriesCreateCtrl.create()">
            <div class="form-group">
              <label for="exampleInputEmail1">New Category</label>
              <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Start typing a title for the category here....">
            </div>
          </form>
        </div>
        <div class="row">
          <a href="#" data-ng-repeat="category in categories" data-ng-href="/backend/category/{{category.slug}}/edit">
          <p data-ng-bind="category.name"></p>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <h1>Published</h1>
      </div>
    </div>
  </div>
</section>
