doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")

  head
    title SenseForage-Backend
    for cssFile in cssFiles
      link(rel="stylesheet", href=cssFile)
  body
    div(class="container")
      block content
    for jsFile in jsFiles
      script(type="text/javascript" src=jsFile)
